# ignor Mac Specific Folder
.DS_Store

# ignor github Folder
.github

# ignor composer files
/vendor/
/composer.lock

# don't sync config files
config/services-welcome.cfg
services-welcome.cfg

#don't sync git deploy files
deploy*.*